/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.users-menu {
  padding: 0;
  margin: auto;
  max-width: 1200px;

  /* flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

span {
  background-color: #3f525c;
  border-radius: 5px;
  padding: 1.3rem;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 20px;
  padding-top: 20px;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

.container{
  display: flex;
}

.mat-card {
  box-shadow: 0px 0px 10px 0px #9b9b9b,
      0 1px 1px 0 #9b9b9b,
      0 1px 3px 0 #9b9b9b;
}

.button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}